.titulo{

margin-top:40px;

margin-bottom:35px;

font-size:40px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.cards .card{

padding:35px;

text-align:center;

}

.cards i{

font-size:34px;

color:var(--cyan);

margin-bottom:15px;

}

.cards span{

display:block;

font-size:42px;

font-weight:bold;

margin-top:10px;

}

.painel{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:45px;

}

.agenda,
.info{

padding:35px;

background:rgba(255,255,255,.05);

border:1px solid var(--border);

border-radius:18px;

}

.agenda h3,
.info h3{

margin-bottom:20px;

}

input[type=date]{

width:100%;

padding:15px;

background:#091524;

border:1px solid var(--border);

border-radius:10px;

color:white;

margin-bottom:25px;

}

.lista{

display:flex;

flex-direction:column;

gap:15px;

margin-bottom:35px;

}

.lista label{

font-size:17px;

}

.btn{

display:inline-block;

padding:16px 35px;

background:var(--primary);

border-radius:12px;

}

.btn:hover{

background:var(--primary-hover);

}

.box{

display:flex;

flex-direction:column;

gap:18px;

font-size:18px;

color:var(--text2);

}

@media(max-width:900px){

.cards{

grid-template-columns:1fr;

}

.painel{

grid-template-columns:1fr;

}

}