.top{

display:flex;

justify-content:space-between;

align-items:center;

margin:50px 0;

}

.top p{

color:var(--text2);

margin-top:10px;

}

.btn{

padding:16px 30px;

background:var(--primary);

border-radius:12px;

}

.table-card{

background:rgba(255,255,255,.05);

border-radius:20px;

overflow:hidden;

border:1px solid var(--border);

}

table{

width:100%;

border-collapse:collapse;

}

thead{

background:#13253d;

}

th{

padding:20px;

text-align:left;

}

td{

padding:18px 20px;

border-top:1px solid rgba(255,255,255,.05);

}

tbody tr{

transition:.2s;

}

tbody tr:hover{

background:rgba(255,255,255,.04);

}

.status{

padding:8px 14px;

border-radius:30px;

font-size:13px;

background:#0b6b36;

display:inline-block;

}

@media(max-width:900px){

table{

display:block;

overflow:auto;

}

.top{

flex-direction:column;

gap:25px;

align-items:flex-start;

}

}